Repository s464446877/ourcomponents: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --eslint-only, eslint --fix --stylelint-only

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --eslint-only",
    "prettier --write"
  ],
  "*.{css,less}": [
    "eslint --fix --stylelint-only",
    "prettier --write"
  ],
  "*.ts?(x)": [
    "eslint --fix --eslint-only",
    "prettier --parser=typescript --write"
  ]
}

chore: update lint-staged
  .lintstagedrc
  package.json
Due: prettier --write

feat: add mfsu
  .lintstagedrc
  .umirc.ts
Due: none

fix: stylelint
  .stylelintrc.js
Due: prettier --write, eslint --fix --eslint-only

fix: stylelint
  .lintstagedrc
Due: none

fix: remove stylelint
  .lintstagedrc
Due: none

feat: add SMButtonAntd
  .umirc.ts
  src/SMButton_Antd/index.less
  src/SMButton_Antd/index.md
  src/SMButton_Antd/index.tsx
  src/index.ts
Due: prettier --write, eslint --fix --stylelint-only

fix: test
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/SMButton/index.less
Due: prettier --write, eslint --fix --stylelint-only

feat: add classnames
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(SMButton_Antd): modify
  src/SMButton_Antd/index.md
  src/SMButton_Antd/index.tsx
Due: prettier --write

feat(button): complete a button component
  package.json
  pnpm-lock.yaml
  src/SMButton/index.less
  src/SMButton/index.md
  src/SMButton/index.tsx
  tests/SMButton/index.test.tsx
Due: prettier --write, eslint --fix --stylelint-only

chore: update father settings
  .fatherrc.ts
  .gitignore
  .npmrc
Due: none
